# Improving Old fuctions


Here I need to show all the descriptive stadistics by project, group and all the collaboration.


### Load the Data

In [23]:

par(family="serif", las=1, ps=18)

source('~/Dropbox/case_sysmo/Scripts/userSysmo.R')
source('~/Dropbox/case_sysmo/Scripts/assetsSysmo.R')
source('~/Dropbox/case_sysmo/Scripts/projectSysmo.r')
source('~/Dropbox/case_sysmo/Scripts/sharedAssetSysmo.r')
source('~/Dropbox/case_sysmo/Scripts/contrastCodeSysmo.r')
source('~/Dropbox/case_sysmo/Scripts/parallelsetGeneral.r')
source('~/Dropbox/case_sysmo/Scripts/mainSysmo.r')
# source('~/Dropbox/case_sysmo/Scripts/projectsDbM.r')
# source('~/Dropbox/case_sysmo/Scripts/sharingSymo.r')
# library(plotrix)
library(psych)
library(ggplot2)
library(data.table)
library(MASS)
library(dplyr)
library(R6)

secndR<- as.Date("2010-03-01")  # http://www.bbsrc.ac.uk/pa/grants/AwardDetails.aspx?FundingReference=BB%2FI004637%2F1
eval10<- as.Date("2010-05-01")  # http://www.bbsrc.ac.uk/pa/grants/AwardDetails.aspx?FundingReference=BB%2FI004637%2F1
eval11<- as.Date("2011-02-01")  
eval12<- as.Date("2012-05-01")  # https://seek.sysmo-db.org/presentations/38
eval13<- as.Date("2013-03-01")  # https://seek.sysmo-db.org/presentations/85
dps_date<- as.Date("2011-06-01")

eval1<-eval11
eval2<-eval12

anon_names <- read.csv(file="/Users/kristian/Dropbox/case_sysmo/Data/project_names_anon.csv",sep=",",head=TRUE)
anon_names$project_name <- as.factor(anon_names$project_name)
anon_names$project_name_anon <- as.factor(anon_names$project_name_anon)

In [24]:
anon_names

   project_name project_name_anon
1          SUMO            BULLET
2     SysMO-LAB         BURBIDGE
3        COSMIC         COPELAND
4         MOSES         DEER-LICK
5  BaCell-SysMO               LEO
6      SulfoSys         MARKARIAN
7        PSYSMO           ROBERT
8   TRANSLUCENT           SEYFERT
9        STREAM           STEPHAN
10   SilicoTryp            ZWICKY
11     SYSMO DB           BORRAME
12  Noisy-Strep              WILD

## Descriptive information about the Collaborations

What are the collaborations composition in terms of demographics?

We can see that the collaboration are very similar in geographical localtion and in Languages


We measured collaboration diversity using 2 metrics: Location and Language. Language referfers to language diversity we used the country in which the collaborators reside to define their langauge. Location refers to the institution the collaborators belong to. There could be collaborators living in the same country but belonging to different institutions. We use two differement approaches for the measuremente: Shannon diversity and Gini diversity.


- loc_shannon
- loc_gini 
- lang_shannon
- lang_gini

We are available also to count the number of files they own and the average size of those files.

- siz
- Freq


> **Most of these function only deal with DataFiles and do not include Models or Sops**

In [25]:
print(projectContBySize())

Loading required package: permute
Loading required package: lattice
This is vegan 2.3-3
reldist: Relative Distribution Methods
Version 1.6-4 created on 2015-01-01.
copyright (c) 2003, Mark S. Handcock, University of California-Los Angeles
 For citation information, type citation("reldist").
 Type help(package="reldist") to get started.

[1] "I need contributor_id guessDiscipline"
           name project_id    siz Freq id loc_shannon  loc_gini lang_shannon
1  BaCell-SysMO          1  53760   69  1    4.644811 0.2852961     4.701184
2        COSMIC          2  79360   50  2    4.135367 0.1178571     4.099547
3         MOSES          8 139620   10  8    3.090360 0.2169811     3.017447
4   Noisy-Strep         15  53760    3 15    1.055381 0.1565996     1.021728
5        PSYSMO          6  12135    9  6    3.434429 0.3671432     3.583476
6    SilicoTryp         14  53760   12 14    3.357855 0.1548387     3.338622
7        STREAM         10 609792    8 10    1.820778 0.2735043     1.894710
8      SulfoSys         11 872849    6 11    2.491183 0.2136095     2.466172
9          SUMO          3  78336   38  3    3.964531 0.2699507     4.011719
10     SysMO DB         12 105728   34 12    2.826948 0.2686335     2.941424
11    SysMO-LAB          5  74496   46  5    4.885787 0.2598015     4.950155
12  TRANSLUCENT          9  55969  717  9    2.432678 0.4275114     2.625377
   lang_gini project_name
1  0.2177370 BaCell-SysMO
2  0.1406250       COSMIC
3  0.2870370        MOSES
4  0.2028986  Noisy-Strep
5  0.2102056       PSYSMO
6  0.1702128   SilicoTryp
7  0.1723356       STREAM
8  0.2168675     SulfoSys
9  0.2100000         SUMO
10 0.1689189     SysMO DB
11 0.1825397    SysMO-LAB
12 0.2797619  TRANSLUCENT

There was binary information from the interviews that we can relate to the database:

- Interview: Did we interview anybody from the collaboration?
- Fund: where they fundded for a second round
- OpenShare: Did they interviewees said that they share data openly
- Activity: ???

In [26]:

# (head(a$data))
# a$graphVerDistribution()

print(getProjInfo())



# print(a$describeContr())
# users <- UsersTable$new()
# users$loadtable()
# head(users$data)

   id          name interview  fund openShare activity lifetime  project_name
1   1  BaCell-SysMO      TRUE  TRUE      TRUE    FALSE        3  BaCell-SysMO
2   2        COSMIC     FALSE  TRUE      TRUE    FALSE        3        COSMIC
3   3          SUMO      TRUE  TRUE      TRUE    FALSE        3          SUMO
4   4      KOSMOBAC     FALSE FALSE     FALSE    FALSE        1      KOSMOBAC
5   5     SysMO-LAB      TRUE  TRUE     FALSE    FALSE        3     SysMO-LAB
6   6        PSYSMO     FALSE FALSE     FALSE    FALSE        1        PSYSMO
7   7        SCaRAB     FALSE FALSE     FALSE    FALSE        1        SCaRAB
8   8         MOSES      TRUE FALSE      TRUE    FALSE        1         MOSES
9   9   TRANSLUCENT     FALSE  TRUE     FALSE    FALSE        1   TRANSLUCENT
10 10        STREAM     FALSE FALSE     FALSE    FALSE        1        STREAM
11 11      SulfoSys     FALSE FALSE     FALSE    FALSE        1      SulfoSys
12 12      SysMO DB     FALSE  TRUE     FALSE    FALSE        3      SysMO DB
13 13 SysMO Funders     FALSE  TRUE     FALSE    FALSE        3 SysMO Funders
14 14    SilicoTryp      TRUE     N      TRUE    FALSE        2    SilicoTryp
15 15   Noisy-Strep     FALSE     N      TRUE    FALSE        2   Noisy-Strep

In [27]:


print(getProjectMore())
print("--------")

# pro_data<-getProjectMore()

# print(names(pro_data))

[1] "I need contributor_id guessDiscipline"
   project_name project_id Freq.x Freq.y Freq total         name count lifetime
1  BaCell-SysMO          1     69     10   15    94 BaCell-SysMO    25        3
2        COSMIC          2     50     11   20    81       COSMIC    22        3
3         MOSES          8     10      3   11    24        MOSES     7        3
4   Noisy-Strep         15      3      0    0     3  Noisy-Strep    NA        3
5        PSYSMO          6      9      0    0     9       PSYSMO    12        3
6    SilicoTryp         14     12      6    8    26   SilicoTryp    NA        3
7        STREAM         10      8      2   16    26       STREAM    10        3
8      SulfoSys         11      6      1    5    12     SulfoSys    15        3
9          SUMO          3     38     13   17    68         SUMO    17        3
10     SysMO DB         12     34     26    7    67     SysMO DB     7        3
11    SysMO-LAB          5     46     13   17    76    SysMO-LAB    12        3
12  TRANSLUCENT          9    717      1    7   725  TRANSLUCENT    13        3
        active
1  0.022831050
2  0.020091324
3  0.006392694
4           NA
5  0.010958904
6           NA
7  0.009132420
8  0.013698630
9  0.015525114
10 0.006392694
11 0.010958904
12 0.011872146
[1] "person_id already exist"
    project_name count     actFreq lifetime
 1: BaCell-SysMO    10 0.009132420        3
 2:       COSMIC     2 0.001826484        3
 3:     KOSMOBAC     1 0.000913242        3
 4:        MOSES     5 0.004566210        3
 5:       PSYSMO     4 0.003652968        3
 6:       STREAM     3 0.002739726        3
 7:     SulfoSys     1 0.000913242        3
 8:         SUMO     8 0.007305936        3
 9:     SysMO DB     4 0.003652968        3
10:    SysMO-LAB     3 0.002739726        3
    project_name count     actFreq lifetime participants total
 1: BaCell-SysMO    10 0.009132420        3           25    94
 2:       COSMIC     2 0.001826484        3           22    81
 3:     KOSMOBAC     1 0.000913242        3           NA    NA
 4:        MOSES     5 0.004566210        3            7    24
 5:       PSYSMO     4 0.003652968        3           12     9
 6:       STREAM     3 0.002739726        3           10    26
 7:     SulfoSys     1 0.000913242        3           15    12
 8:         SUMO     8 0.007305936        3           17    68
 9:     SysMO DB     4 0.000000000        3            7    67
10:    SysMO-LAB     3 0.002739726        3           12    76
[1] "--------"

### Get projects summary by project

Here we are decomposing a large function called getprojectmore using logs

1. First step is getting data and summarising by project

In [28]:
  projs <- processCsv('projects')
  data  <- processCsv('data_files_projects')
  pdata<-as.data.frame(table(data$project_id))
  sops  <- processCsv('sops_projects')
  psops<-as.data.frame(table(sops$project_id))
  mods  <- processCsv('models_projects')
  pmods<-as.data.frame(table(mods$project_id))

  a<-merge(pdata,pmods, by="Var1", all.x=TRUE)
  b<-merge(a,psops, by="Var1", all.x=TRUE)
  b[is.na(b)] <- 0
  b$total<-(b$Freq.x+b$Freq.y+b$Freq)

  colnames(b)[1]   <- "project_id"
  colnames(projs)[1]   <- "project_id"
  projs$project_name<-projs$name
  r<-merge(b,projs, by="project_id", all.x=TRUE)

## ---------------- using logs

logsstable<- LogsTable$new()
logsstable$loadtable()
logsstable$getLogBy()
ds<-logsstable$data
print(ds %>% group_by(project_name) %>% filter(action == "create" & 
                                               (activity_loggable_type == "Sop" | 
                                               activity_loggable_type == "Model" | 
                                               activity_loggable_type == "DataFile")) %>%
      summarise(events_n = n(), 
                contributors_n = n_distinct(contributor_id, na_rm = FALSE)) %>% 
      mutate(even_cont = events_n/contributors_n))
                                                                                                  
names(ds)
print(r)

[1] "data.frame"
[1] 82876
[1] "data.frame"
[1] 2011
Source: local data frame [12 x 4]

   project_name events_n contributors_n even_cont
         (fctr)    (int)          (int)     (dbl)
1  BaCell-SysMO       77              8  9.625000
2        COSMIC       62              8  7.750000
3         MOSES        8              4  2.000000
4   Noisy-Strep        3              1  3.000000
5        PSYSMO        8              1  8.000000
6    SilicoTryp       29              6  4.833333
7        STREAM       12              1 12.000000
8      SulfoSys        6              1  6.000000
9          SUMO       23              9  2.555556
10     SysMO DB       95              5 19.000000
11    SysMO-LAB       56             15  3.733333
12  TRANSLUCENT       10              2  5.000000

 [1] "project_id"             "id"                     "action"
 [4] "format"                 "activity_loggable_type" "activity_loggable_id"
 [7] "culprit_type"           "contributor_id"         "referenced_type"
[10] "created_at"             "updated_at"             "http_referer"
[13] "user_agent"             "ncreated_at"            "nupdated_at"
[16] "project_name"

   project_id Freq.x Freq.y Freq total         name project_name
1           1     69     10   15    94 BaCell-SysMO BaCell-SysMO
2          10      8      2   16    26       STREAM       STREAM
3          11      6      1    5    12     SulfoSys     SulfoSys
4          12     34     26    7    67     SysMO DB     SysMO DB
5          14     12      6    8    26   SilicoTryp   SilicoTryp
6          15      3      0    0     3  Noisy-Strep  Noisy-Strep
7           2     50     11   20    81       COSMIC       COSMIC
8           3     38     13   17    68         SUMO         SUMO
9           5     46     13   17    76    SysMO-LAB    SysMO-LAB
10          6      9      0    0     9       PSYSMO       PSYSMO
11          8     10      3   11    24        MOSES        MOSES
12          9    717      1    7   725  TRANSLUCENT  TRANSLUCENT

> differences in number of **events_n** to **total** could be related to the discrepancies on the ownership of the files

2. The second step is to get users information  to obtain **number of collaborators** and **how active they have been**


- count.x: Number of collaborators during the first year.
- active: Number of collaborator divided during the projects lifetime. I don't know why

In [29]:
# users<-processCsv("users")
# users<-joinAssoc(users)
users <-getMembers(0) 

users<-users[users$ncreated_at <= "2010-01-01",]
library(data.table)

ds <- as.data.table(users)
setkeyv(ds, cols=c("project_name"))
ds <- ds[, list(count=.N), by=c("project_name")]

r<-merge(r,ds, by="project_name", all.x=TRUE)

# r$lifetime<-c(3,3,3,1,3,1,3,3,3,3,3,3)
# r$lifetime<-c(3,3,3,3,3,3,3,3,3,3,3)
r$lifetime<-3
# r$active<-(r$total/((r$count/sum(r$count))*r$lifetime))
r$active<-(r$count/(365*r$lifetime))


print(r)


## --- The new way fixing
users <-getMembers(0) 
new_fr_1 <- users %>% group_by(project_name) %>%
      filter(ncreated_at <= "2010-01-01") %>%
      summarise(collb_n = n())
new_fr_1$lifetime<-c(3,3,1,1,1,1,1,1,3,3,3,1,3)
new_fr_1 %>% mutate(active=collb_n/(lifetime))
print(new_fr)

[1] "I need contributor_id guessDiscipline"
   project_name project_id Freq.x Freq.y Freq total         name count lifetime
1  BaCell-SysMO          1     69     10   15    94 BaCell-SysMO    25        3
2        COSMIC          2     50     11   20    81       COSMIC    22        3
3         MOSES          8     10      3   11    24        MOSES     7        3
4   Noisy-Strep         15      3      0    0     3  Noisy-Strep    NA        3
5        PSYSMO          6      9      0    0     9       PSYSMO    12        3
6    SilicoTryp         14     12      6    8    26   SilicoTryp    NA        3
7        STREAM         10      8      2   16    26       STREAM    10        3
8      SulfoSys         11      6      1    5    12     SulfoSys    15        3
9          SUMO          3     38     13   17    68         SUMO    17        3
10     SysMO DB         12     34     26    7    67     SysMO DB     7        3
11    SysMO-LAB          5     46     13   17    76    SysMO-LAB    12        3
12  TRANSLUCENT          9    717      1    7   725  TRANSLUCENT    13        3
        active
1  0.022831050
2  0.020091324
3  0.006392694
4           NA
5  0.010958904
6           NA
7  0.009132420
8  0.013698630
9  0.015525114
10 0.006392694
11 0.010958904
12 0.011872146
[1] "I need contributor_id guessDiscipline"

Source: local data frame [13 x 4]

   project_name collb_n lifetime    active
         (fctr)   (int)    (dbl)     (dbl)
1  BaCell-SysMO      25        3  8.333333
2        COSMIC      22        3  7.333333
3      KOSMOBAC      26        1 26.000000
4         MOSES       7        1  7.000000
5        PSYSMO      12        1 12.000000
6        SCaRAB       5        1  5.000000
7        STREAM      10        1 10.000000
8      SulfoSys      15        1 15.000000
9          SUMO      17        3  5.666667
10     SysMO DB       7        3  2.333333
11    SysMO-LAB      12        3  4.000000
12  TRANSLUCENT      13        1 13.000000
13           NA       6        3  2.000000

ERROR: Error in print(new_fr): object 'new_fr' not found

In [30]:
# ------------

# careful these are different. particualry what you are bining is not the same. 
# chek it out date of what? you want to add evertyinhg including uploads


  resc<-getAllresc(0)
  resc<-joinPerson(resc)
  # resc<-joinAssoc(resc)


  df <- as.data.table(resc)

  df <- df[ which(df$ncreated_at<= eval11), ]
  # df <- df[ which(df$ncreated_at<= "2010-01-01" & mydata$age > 65), ]


  setkeyv(df, cols=c('ncreated_at',"project_name"))
  df <- df[, list(count=.N), by=c('ncreated_at',"project_name")]

  df2 <- as.data.table(df)
  setkeyv(df2, cols=c("project_name"))
  df2 <- df2[, list(count=.N), by=c("project_name")]
  df2$actFreq<-0
  df2$lifetime<-3
  df2$lifetime[df2$project_name == "SilicoTryp"]<-2
  df2$lifetime[df2$project_name == "Noisy-Strep"]<-2

  df2$actFreq <- (df2$count)/(df2$lifetime*365)
  print(df2)
  r$participants<-r$count
  df2<-merge(df2,r[c("participants","project_name","total")], by="project_name", all.x=TRUE)
  df2$participants[df2$project_name == "SilicoTryp"]<-12
  df2$participants[df2$project_name == "Noisy-Strep"]<-9
  df2$actFreq[df2$project_name == "SysMO DB"]<-0
print(df2)


  resc<-getAllresc(0)
  resc<-joinPerson(resc)
  # resc<-joinAssoc(resc)


new_fr <- resc %>% group_by(project_name) %>%
#       filter(ncreated_at <= "2010-01-01") %>%
      summarise(assets_n = n())
new_fr = inner_join(new_fr_1,new_fr)
new_fr %>% mutate(ave_cont_time=assets_n/(lifetime))
print(new_fr)

[1] "person_id already exist"
    project_name count     actFreq lifetime
 1: BaCell-SysMO    10 0.009132420        3
 2:       COSMIC     2 0.001826484        3
 3:     KOSMOBAC     1 0.000913242        3
 4:        MOSES     5 0.004566210        3
 5:       PSYSMO     4 0.003652968        3
 6:       STREAM     3 0.002739726        3
 7:     SulfoSys     1 0.000913242        3
 8:         SUMO     8 0.007305936        3
 9:     SysMO DB     4 0.003652968        3
10:    SysMO-LAB     3 0.002739726        3
    project_name count     actFreq lifetime participants total
 1: BaCell-SysMO    10 0.009132420        3           25    94
 2:       COSMIC     2 0.001826484        3           22    81
 3:     KOSMOBAC     1 0.000913242        3           NA    NA
 4:        MOSES     5 0.004566210        3            7    24
 5:       PSYSMO     4 0.003652968        3           12     9
 6:       STREAM     3 0.002739726        3           10    26
 7:     SulfoSys     1 0.000913242        3           15    12
 8:         SUMO     8 0.007305936        3           17    68
 9:     SysMO DB     4 0.000000000        3            7    67
10:    SysMO-LAB     3 0.002739726        3           12    76
[1] "person_id already exist"

Joining by: "project_name"

Source: local data frame [11 x 5]

   project_name collb_n lifetime assets_n ave_cont_time
         (fctr)   (int)    (dbl)    (int)         (dbl)
1  BaCell-SysMO      25        3       90      30.00000
2        COSMIC      22        3       58      19.33333
3      KOSMOBAC      26        1       25      25.00000
4         MOSES       7        1       24      24.00000
5        PSYSMO      12        1       15      15.00000
6        STREAM      10        1       26      26.00000
7      SulfoSys      15        1       11      11.00000
8          SUMO      17        3       58      19.33333
9      SysMO DB       7        3       67      22.33333
10    SysMO-LAB      12        3       40      13.33333
11  TRANSLUCENT      13        1       10      10.00000

Source: local data frame [11 x 4]

   project_name collb_n lifetime assets_n
         (fctr)   (int)    (dbl)    (int)
1  BaCell-SysMO      25        3       90
2        COSMIC      22        3       58
3      KOSMOBAC      26        1       25
4         MOSES       7        1       24
5        PSYSMO      12        1       15
6        STREAM      10        1       26
7      SulfoSys      15        1       11
8          SUMO      17        3       58
9      SysMO DB       7        3       67
10    SysMO-LAB      12        3       40
11  TRANSLUCENT      13        1       10

#### Using Different Data (Logs)

- 'project_name'
- 'events_n': Number of created assets by the project
- 'contributors_n': Number of contributotrs tothe SDR by project
- 'even_cont': Ration of created assets to contrbituor by project **OR** assets per contributor
- 'collb_n': Number of collaborators by project
- 'lifetime': Project LifeTime
- 'active': Ration of collaborator to lifetime by project **Whatfor??**
- ave_cont_time: Ration of created assets to lifetime by project **OR** assets per year
- res_out_rat: average Research publication per collaborator
- res_out_year: average Research publication per year


This scripts show the projects summary stats for competitive assets.

In [52]:
logsstable<- LogsTable$new()
logsstable$loadtable()
logsstable$getLogBy()
ds<-logsstable$data
ds2 <- ds %>% group_by(project_name) %>% filter(
                                               (activity_loggable_type == "Sop" | 
                                               activity_loggable_type == "Model" | 
                                               activity_loggable_type == "DataFile")) %>%
      summarise(events_n = n(), 
                contributors_n = n_distinct(contributor_id, na_rm = FALSE)) %>% 
      mutate(even_cont = scale(events_n/contributors_n, center = TRUE, scale = TRUE))
                                                                                                  

users <-getMembers(0) 
new_fr_1 <- users %>% group_by(project_name) %>%
#       filter(ncreated_at <= "2010-01-01") %>%
      summarise(collb_n = n())

new_fr = inner_join(ds2,new_fr_1)
new_fr = inner_join(new_fr,getProjInfo())


new_fr <- new_fr %>% mutate(active=scale(collb_n/(lifetime), center = TRUE, scale = TRUE),
                           ave_cont_time=scale(events_n/(lifetime), center = TRUE, scale = TRUE),
                            ave_cont_time2=((events_n/(lifetime)) - mean(events_n/(lifetime))) / sd(events_n/(lifetime)),
                            ave_cont_time3=((events_n/(lifetime))-min((events_n/(lifetime))))/(max((events_n/(lifetime)))-min((events_n/(lifetime)))),
                           traction = scale(contributors_n/collb_n, center = TRUE, scale = TRUE))


x = inner_join(new_fr,projectContBySize())


pubdata <- read.csv(file=paste0("/Users/kristian/Dropbox/case_sysmo/Data/pub_data/output-cleaned.csv"),sep=",",head=TRUE)
pubdata_cle = pubdata %>% mutate(date_s = as.character(date_full),
    date_n = as.Date((date_s)))
r <- pubdata_cle %>% group_by(project_name) %>%
    arrange(date_n) %>%
    filter(date_n >= "2010-01-01") %>%
    summarise(pub_n = n())
f = inner_join(r,x)

f = f %>% mutate(res_out_rat = scale(pub_n/collb_n, center = TRUE, scale = TRUE),
                res_out_year = scale(pub_n/lifetime, center = TRUE, scale = TRUE))
names(f)
f

[1] "data.frame"
[1] 82876
[1] "data.frame"
[1] 2011
[1] "I need contributor_id guessDiscipline"

Joining by: "project_name"
Joining by: "project_name"

[1] "I need contributor_id guessDiscipline"

Joining by: c("project_name", "id", "name")
Joining by: "project_name"
Warning message:
In inner_join_impl(x, y, by$x, by$y): joining factors with different levels, coercing to character vector

 [1] "project_name"   "pub_n"          "events_n"       "contributors_n"
 [5] "even_cont"      "collb_n"        "id"             "name"
 [9] "interview"      "fund"           "openShare"      "activity"
[13] "lifetime"       "active"         "ave_cont_time"  "ave_cont_time2"
[17] "ave_cont_time3" "traction"       "project_id"     "siz"
[21] "Freq"           "loc_shannon"    "loc_gini"       "lang_shannon"
[25] "lang_gini"      "res_out_rat"    "res_out_year"

Source: local data frame [11 x 27]

   project_name pub_n events_n contributors_n  even_cont collb_n    id
          (chr) (int)    (int)          (int)      (dbl)   (int) (int)
1  BaCell-SysMO    42      229              8  1.2806873      31     1
2        COSMIC     7      125             10 -0.1861582      30     2
3         MOSES     5       52              4 -0.1406746       9     8
4   Noisy-Strep    20        9              1 -0.5045433       8    15
5        PSYSMO     4       11              1 -0.3226090      12     6
6    SilicoTryp    11       59              6 -0.4287373      11    14
7        STREAM     1       18              1  0.3141612      12    10
8      SulfoSys     1        8              1 -0.5955104      16    11
9          SUMO    15       95             11 -0.5376222      29     3
10    SysMO-LAB    10       97             16 -0.7717593      27     5
11  TRANSLUCENT     8       13              2 -0.7319612      18     9
Variables not shown: name (fctr), interview (lgl), fund (chr), openShare (lgl),
  activity (lgl), lifetime (dbl), active (dbl), ave_cont_time (dbl),
  ave_cont_time2 (dbl), ave_cont_time3 (dbl), traction (dbl), project_id (int),
  siz (dbl), Freq (int), loc_shannon (dbl), loc_gini (dbl), lang_shannon (dbl),
  lang_gini (dbl), res_out_rat (dbl), res_out_year (dbl)

#### Adding sharing
- total: number of items from old method
- lab: label of open sharing
- perc: percentage of dataassets shared

In [53]:
logsstable<- LogsTable$new()
logsstable$loadtable()
logsstable$getLogBy()
ds<-logsstable$data


dat<-isOpenShared(getAllresc(0))




pdf6 <- dat %>% group_by(project_name,lab)  %>% 
            summarise(count = n()) 
pdf7 <- dat %>% group_by(project_name)  %>% 
            summarise(total = n()) 
datx <- inner_join(pdf6,pdf7) %>% mutate(perc = count/total) %>% 
      filter(lab == "opensharing") %>% 
    select(project_name,total,perc) 

print(datx)

f <- full_join(f,datx) 

f

[1] "data.frame"
[1] 82876
[1] "data.frame"
[1] 2011
[1] "I need contributor_id guessDiscipline"
 [1] 12 12 12  2  1  1 12 12  1 12 12 12  1  5 14  1  5 12 12 12 12  1 12 12 14
[26] 12  8 12  3
[1] "I need contributor_id guessDiscipline"
 [1] 12 12 12  8  3  1  1  1  1  1  1 12  1  1  1  8  8  8  1  8  8 12  8  8 12
[26]  8 12 15  1  1 12  1  1  1 12 12  1  1  1  1  1 12  1 12 12  1  1 12 12  1
[1] "I need contributor_id guessDiscipline"
 [1] 14  8  8  8  8  8  3  8  8  3 14  3 14

Joining by: "project_name"

Source: local data frame [8 x 3]
Groups: project_name [8]

  project_name total       perc
        (fctr) (int)      (dbl)
1 BaCell-SysMO    90 0.33333333
2       COSMIC    58 0.01724138
3        MOSES    24 0.70833333
4  Noisy-Strep     3 0.33333333
5   SilicoTryp    26 0.19230769
6         SUMO    58 0.08620690
7     SysMO DB    67 0.46268657
8    SysMO-LAB    40 0.05000000

Joining by: "project_name"
Warning message:
In outer_join_impl(x, y, by$x, by$y): joining factor and character vector, coercing into character vector

Source: local data frame [12 x 29]

   project_name pub_n events_n contributors_n  even_cont collb_n    id
          (chr) (int)    (int)          (int)      (dbl)   (int) (int)
1  BaCell-SysMO    42      229              8  1.2806873      31     1
2        COSMIC     7      125             10 -0.1861582      30     2
3         MOSES     5       52              4 -0.1406746       9     8
4   Noisy-Strep    20        9              1 -0.5045433       8    15
5        PSYSMO     4       11              1 -0.3226090      12     6
6    SilicoTryp    11       59              6 -0.4287373      11    14
7        STREAM     1       18              1  0.3141612      12    10
8      SulfoSys     1        8              1 -0.5955104      16    11
9          SUMO    15       95             11 -0.5376222      29     3
10    SysMO-LAB    10       97             16 -0.7717593      27     5
11  TRANSLUCENT     8       13              2 -0.7319612      18     9
12     SysMO DB    NA       NA             NA         NA      NA    NA
Variables not shown: name (fctr), interview (lgl), fund (chr), openShare (lgl),
  activity (lgl), lifetime (dbl), active (dbl), ave_cont_time (dbl),
  ave_cont_time2 (dbl), ave_cont_time3 (dbl), traction (dbl), project_id (int),
  siz (dbl), Freq (int), loc_shannon (dbl), loc_gini (dbl), lang_shannon (dbl),
  lang_gini (dbl), res_out_rat (dbl), res_out_year (dbl), total (int), perc
  (dbl)

In [54]:
f$ave_cont_time2
f$ave_cont_time3
f$ave_cont_time

 [1]  1.813386095  0.378315805  0.806077142 -1.160245130 -0.891169450
 [6] -0.125338671 -0.601395642 -1.015358225 -0.035646778 -0.008049272
[11] -0.808376934           NA

 [1] 1.00000000 0.51740139 0.66125290 0.00000000 0.09048724 0.34802784
 [7] 0.18793503 0.04872390 0.37819026 0.38747100 0.11832947         NA

              [,1]
 [1,]  1.813386095
 [2,]  0.378315805
 [3,]  0.806077142
 [4,] -1.160245130
 [5,] -0.891169450
 [6,] -0.125338671
 [7,] -0.601395642
 [8,] -1.015358225
 [9,] -0.035646778
[10,] -0.008049272
[11,] -0.808376934
[12,]           NA

In [55]:
sp1 <- ggplot(f, aes(colour=((traction)),trans="log")) +
# geom_bar(stat="identity") +
geom_point(aes(y=(ave_cont_time), x=(even_cont),size=lang_gini, label=project_name )) +
geom_text(aes(y=(ave_cont_time), x=(even_cont),
              label=ifelse(fund=="FALSE",as.character(project_name),'')),
          hjust=0, vjust=0)


sp2 <- ggplot(f, aes(colour=((even_cont)),trans="log")) +
# geom_bar(stat="identity") +
geom_point(aes(y=(res_out_year), x=(ave_cont_time),size=lang_gini, label=project_name )) +
geom_text(aes(y=(res_out_year), x=(ave_cont_time),
              label=ifelse(contributors_n == 1,as.character(project_name),'')),
          hjust=0, vjust=0)

#   geom_text(aes(label=ifelse(PTS>24,as.character(Name),'')),hjust=0,just=0)

# sp1 + facet_grid(fund ~. )

p3<- plotmatrix(f[, 1:3]) + geom_smooth(method="lm")

multiplot(sp1,sp2,p3)

ERROR: Error in eval(expr, envir, enclos): could not find function "plotmatrix"

ERROR: Error in multiplot(sp1, sp2, p3): object 'p3' not found

##### Table with studied projects and just looking at demographics

In [56]:
s <- f %>% filter(project_name == "SUMO" |
                  project_name == "SysMO-LAB" |
                  project_name == "COSMIC" |
                  project_name == "SilicoTryp" |
                  project_name == "BaCell-SysMO") %>%
        summarise(mean0="", mean=mean(res_out_year,  na.rm = TRUE),
                    mean1=mean(ave_cont_time,  na.rm = TRUE),
                    mean2=mean(loc_gini,  na.rm = TRUE),
                    mean3=mean(lang_gini,  na.rm = TRUE),
                    mean4=mean(traction,  na.rm = TRUE),
                    mean5=""
                    )
print(s)

Source: local data frame [1 x 7]

  mean0     mean     mean1     mean2     mean3     mean4 mean5
  (chr)    (dbl)     (dbl)     (dbl)     (dbl)     (dbl) (chr)
1       0.165424 0.4045334 0.2175488 0.1842229 0.6812823

In [57]:
library(xtable)

names(f)

round_df <- function(df, digits) {
  nums <- vapply(df, is.numeric, FUN.VALUE = logical(1))

  df[,nums] <- round(df[,nums], digits = digits)

  (df)
}


f[,-1] <-round_df(f[,-1], digits=2) 



# tbl<-xtable(f %>% select(project_name, res_out_year,ave_cont_time,fund) %>%
#           arrange(fund,ave_cont_time),booktabs=TRUE)

 [1] "project_name"   "pub_n"          "events_n"       "contributors_n"
 [5] "even_cont"      "collb_n"        "id"             "name"
 [9] "interview"      "fund"           "openShare"      "activity"
[13] "lifetime"       "active"         "ave_cont_time"  "ave_cont_time2"
[17] "ave_cont_time3" "traction"       "project_id"     "siz"
[21] "Freq"           "loc_shannon"    "loc_gini"       "lang_shannon"
[25] "lang_gini"      "res_out_rat"    "res_out_year"   "total"
[29] "perc"

In [58]:


f <- inner_join(f, anon_names)


f1 <- f
tbl<-xtable(t(f1 %>% select(project_name,project_name_anon,res_out_year,ave_cont_time,loc_gini,lang_gini,traction,contributors_n,collb_n,lifetime,fund) %>%
              filter(project_name == "MOSES" | 
                  project_name == "SUMO" |
                  project_name == "SysMO-LAB" |
                  project_name == "SilicoTryp" |
                  project_name == "COSMIC" |
                  project_name == "BaCell-SysMO") %>%
          arrange(fund,ave_cont_time,traction,contributors_n,collb_n,lifetime) ),booktabs=TRUE, 
          caption="Embedded Cases Descriptive Information", 
          label="tblcasesdescription", only.contents=TRUE)

print(tbl)

Joining by: "project_name"
Warning message:
In inner_join_impl(x, y, by$x, by$y): joining character vector and factor, coercing into character vector

% latex table generated in R 3.2.3 by xtable 1.8-0 package
% Sat Mar 26 17:13:34 2016
\begin{table}[ht]
\centering
\begin{tabular}{rllllll}
  \hline
 & 1 & 2 & 3 & 4 & 5 & 6 \\
  \hline
project\_name & MOSES & SilicoTryp & SUMO & SysMO-LAB & COSMIC & BaCell-SysMO \\
  project\_name\_anon & DEER-LICK & ZWICKY & BULLET & BURBIDGE  & COPELAND  & LEO \\
  res\_out\_year & -0.10 &  0.03 & -0.10 & -0.52 & -0.77 &  2.18 \\
  ave\_cont\_time &  0.81 & -0.13 & -0.04 & -0.01 &  0.38 &  1.81 \\
  loc\_gini & 0.22 & 0.15 & 0.27 & 0.26 & 0.12 & 0.29 \\
  lang\_gini & 0.29 & 0.17 & 0.21 & 0.18 & 0.14 & 0.22 \\
  traction &  0.80 &  1.32 &  0.46 &  1.56 &  0.23 & -0.16 \\
  contributors\_n &  4 &  6 & 11 & 16 & 10 &  8 \\
  collb\_n &  9 & 11 & 29 & 27 & 30 & 31 \\
  lifetime & 1 & 2 & 3 & 3 & 3 & 3 \\
  fund & FALSE & N & TRUE & TRUE & TRUE & TRUE \\
   \hline
\end{tabular}
\caption{Embedded Cases Descriptive Information}
\label{tblcasesdescription}
\end{table}

##### Table with all the projects and just looking at outcomes

In [59]:
tbl<-xtable((f %>% select(project_name_anon, res_out_year,ave_cont_time,fund) %>%
          arrange(ave_cont_time,res_out_year)),booktabs=TRUE, 
          caption="Collaboration Contributions Comparison", 
          label="tblprojectscontrib", only.contents=TRUE)

print(tbl)

% latex table generated in R 3.2.3 by xtable 1.8-0 package
% Sat Mar 26 17:13:50 2016
\begin{table}[ht]
\centering
\begin{tabular}{rlrrl}
  \hline
 & project\_name\_anon & res\_out\_year & ave\_cont\_time & fund \\
  \hline
1 & WILD & 1.17 & -1.16 & N \\
  2 & MARKARIAN & -1.11 & -1.02 & FALSE \\
  3 & ROBERT  & -0.35 & -0.89 & FALSE \\
  4 & SEYFERT & 0.66 & -0.81 & TRUE \\
  5 & STEPHAN & -1.11 & -0.60 & FALSE \\
  6 & ZWICKY & 0.03 & -0.13 & N \\
  7 & BULLET & -0.10 & -0.04 & TRUE \\
  8 & BURBIDGE  & -0.52 & -0.01 & TRUE \\
  9 & COPELAND  & -0.77 & 0.38 & TRUE \\
  10 & DEER-LICK & -0.10 & 0.81 & FALSE \\
  11 & LEO & 2.18 & 1.81 & TRUE \\
   \hline
\end{tabular}
\caption{Collaboration Contributions Comparison}
\label{tblprojectscontrib}
\end{table}

In [39]:
##### Table with all the projects and just looking at outcomes no filter projects

In [40]:
tbl<-xtable((f %>% select(project_name_anon, res_out_year,ave_cont_time) %>%
          arrange(ave_cont_time,res_out_year)),booktabs=TRUE, 
          caption="Collaboration Contributions Comparison", 
          label="tblprojectscontrib", only.contents=TRUE)

print(tbl)

% latex table generated in R 3.2.3 by xtable 1.8-0 package
% Sat Mar 26 17:07:48 2016
\begin{table}[ht]
\centering
\begin{tabular}{rlrr}
  \hline
 & project\_name\_anon & res\_out\_year & ave\_cont\_time \\
  \hline
1 & MARKARIAN & -0.95 & -1.12 \\
  2 & ROBERT  & -0.21 & -0.99 \\
  3 & SEYFERT & 0.77 & -0.91 \\
  4 & STEPHAN & -0.95 & -0.71 \\
  5 & BULLET & 0.04 & -0.16 \\
  6 & BURBIDGE  & -0.37 & -0.13 \\
  7 & COPELAND  & -0.62 & 0.24 \\
  8 & DEER-LICK & 0.04 & 0.66 \\
  9 & LEO & 2.25 & 1.64 \\
  10 & WILD &  &  \\
  11 & ZWICKY &  &  \\
   \hline
\end{tabular}
\caption{Collaboration Contributions Comparison}
\label{tblprojectscontrib}
\end{table}

#### same data different approach

In [41]:
projs <- processCsv('projects')
  data  <- processCsv('data_files_projects')
  pdata = data %>% group_by(project_id) %>% summarise(DataFile_n=n())
  sops  <- processCsv('sops_projects')
  psops = sops %>% group_by(project_id) %>% summarise(Sop_n=n())
  mods  <- processCsv('models_projects')
  pmods = mods %>% group_by(project_id) %>% summarise(Model_n=n())


dsa = inner_join(pdata,psops)
ds = inner_join(dsa,pmods)

ds2 <- ds %>% group_by(project_id) %>% 
      mutate(events_n = sum(DataFile_n, Sop_n, Model_n))
                                                                                                  

users <-getMembers(0) 
new_fr_1 <- users %>% group_by(project_name) %>%
      filter(ncreated_at <= "2010-01-01") %>%
      summarise(collb_n = n())




new_fr = inner_join(new_fr_1,getProjInfo())
new_fr$project_id <-new_fr$id
new_fr2 = inner_join(ds2,new_fr)




new_fr3 <- new_fr2 %>% mutate(active= (collb_n/(lifetime)),
                           ave_cont_time=(events_n/(lifetime)))

new_fr4 = inner_join(new_fr3,projectContBySize())
# new_fr4
# names(x)


new_fr = semi_join(new_fr4,x,by="project_name")

new_fr
names(new_fr)

Joining by: "project_id"
Joining by: "project_id"

[1] "I need contributor_id guessDiscipline"

Joining by: "project_name"
Joining by: "project_id"

[1] "I need contributor_id guessDiscipline"

Joining by: c("project_id", "project_name", "id", "name")

Source: local data frame [9 x 22]
Groups: project_id [?]

  project_id DataFile_n Sop_n Model_n events_n project_name collb_n    id
       (int)      (int) (int)   (int)    (int)       (fctr)   (int) (int)
1          1         69    15      10       94 BaCell-SysMO      25     1
2          2         50    20      11       81       COSMIC      22     2
3          8         10    11       3       24        MOSES       7     8
4         10          8    16       2       26       STREAM      10    10
5         11          6     5       1       12     SulfoSys      15    11
6          3         38    17      13       68         SUMO      17     3
7         12         34     7      26       67     SysMO DB       7    12
8          5         46    17      13       76    SysMO-LAB      12     5
9          9        717     7       1      725  TRANSLUCENT      13     9
Variables not shown: name (fctr), interview (lgl), fund (chr), openShare (lgl),
  activity (lgl), lifetime (dbl), active (dbl), ave_cont_time (dbl), siz (dbl),
  Freq (int), loc_shannon (dbl), loc_gini (dbl), lang_shannon (dbl), lang_gini
  (dbl)

 [1] "project_id"    "DataFile_n"    "Sop_n"         "Model_n"
 [5] "events_n"      "project_name"  "collb_n"       "id"
 [9] "name"          "interview"     "fund"          "openShare"
[13] "activity"      "lifetime"      "active"        "ave_cont_time"
[17] "siz"           "Freq"          "loc_shannon"   "loc_gini"
[21] "lang_shannon"  "lang_gini"

In [42]:
sp2 <- ggplot(new_fr, aes(colour=scale(traction),trans="log")) +
# geom_bar(stat="identity") +
geom_point(aes(y=scale(ave_cont_time), x=even_cont,size=lang_gini.x )) 

sp2 + facet_grid(fund.y ~. )

ERROR: Error in layout_base(data, rows, drop = drop): At least one layer must contain all variables used for facetting

ERROR: Error in file(con, "rb"): cannot open the connection

ERROR: Error in file(con, "rb"): cannot open the connection

plot without title

In [43]:
#### Adding publication Number

In [44]:
pubdata <- read.csv(file=paste0("/Users/kristian/Dropbox/case_sysmo/Data/pub_data/output-cleaned.csv"),sep=",",head=TRUE)

pubdata_cle = pubdata %>% mutate(date_s = as.character(date_full),
    date_n = as.Date((date_s)))

r <- pubdata_cle %>% group_by(project_name) %>%
    arrange(date_n) %>%
    summarise(pub_n = n())


f = inner_join(r,x)
f

Joining by: "project_name"
Warning message:
In inner_join_impl(x, y, by$x, by$y): joining factors with different levels, coercing to character vector

Source: local data frame [9 x 25]

  project_name pub_n events_n contributors_n  even_cont collb_n    id
         (chr) (int)    (int)          (int)      (dbl)   (int) (int)
1 BaCell-SysMO    80      229              8  1.2806873      25     1
2       COSMIC    11      125             10 -0.1861582      22     2
3        MOSES     7       52              4 -0.1406746       7     8
4       PSYSMO     6       11              1 -0.3226090      12     6
5       STREAM    16       18              1  0.3141612      10    10
6     SulfoSys     3        8              1 -0.5955104      15    11
7         SUMO    17       95             11 -0.5376222      17     3
8    SysMO-LAB    11       97             16 -0.7717593      12     5
9  TRANSLUCENT    13       13              2 -0.7319612      13     9
Variables not shown: name (fctr), interview (lgl), fund (chr), openShare (lgl),
  activity (lgl), lifetime (dbl), active (dbl), ave_cont_time (dbl),
  ave_cont_time2 (dbl), ave_cont_time3 (dbl), traction (dbl), project_id (int),
  siz (dbl), Freq (int), loc_shannon (dbl), loc_gini (dbl), lang_shannon (dbl),
  lang_gini (dbl)