# Introduction to dplyr

In [1]:
%pylab inline
%load_ext rpy2.ipython
%reload_ext rpy2.ipython
%reset

Populating the interactive namespace from numpy and matplotlib
Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [9]:
%%R
library(nycflights13)
library(dplyr)
dim(flights)

head(flights)

Source: local data frame [6 x 16]

   year month   day dep_time dep_delay arr_time arr_delay carrier tailnum
  (int) (int) (int)    (int)     (dbl)    (int)     (dbl)   (chr)   (chr)
1  2013     1     1      517         2      830        11      UA  N14228
2  2013     1     1      533         4      850        20      UA  N24211
3  2013     1     1      542         2      923        33      AA  N619AA
4  2013     1     1      544        -1     1004       -18      B6  N804JB
5  2013     1     1      554        -6      812       -25      DL  N668DN
6  2013     1     1      554        -4      740        12      UA  N39463
Variables not shown: flight (int), origin (chr), dest (chr), air_time (dbl),
  distance (dbl), hour (dbl), minute (dbl)

##### Filter rows with filter()

In [10]:
%%R 
filter(flights, month == 1, day == 1)

Source: local data frame [842 x 16]

    year month   day dep_time dep_delay arr_time arr_delay carrier tailnum
   (int) (int) (int)    (int)     (dbl)    (int)     (dbl)   (chr)   (chr)
1   2013     1     1      517         2      830        11      UA  N14228
2   2013     1     1      533         4      850        20      UA  N24211
3   2013     1     1      542         2      923        33      AA  N619AA
4   2013     1     1      544        -1     1004       -18      B6  N804JB
5   2013     1     1      554        -6      812       -25      DL  N668DN
6   2013     1     1      554        -4      740        12      UA  N39463
7   2013     1     1      555        -5      913        19      B6  N516JB
8   2013     1     1      557        -3      709       -14      EV  N829AS
9   2013     1     1      557        -3      838        -8      B6  N593JB
10  2013     1     1      558        -2      753         8      AA  N3ALAA
..   ...   ...   ...      ...       ...      ...       ...     ...     ...
Variables not shown: flight (int), origin (chr), dest (chr), air_time (dbl),
  distance (dbl), hour (dbl), minute (dbl)

In [14]:
%%R
slice(flights, 3:7)

Source: local data frame [5 x 16]

   year month   day dep_time dep_delay arr_time arr_delay carrier tailnum
  (int) (int) (int)    (int)     (dbl)    (int)     (dbl)   (chr)   (chr)
1  2013     1     1      542         2      923        33      AA  N619AA
2  2013     1     1      544        -1     1004       -18      B6  N804JB
3  2013     1     1      554        -6      812       -25      DL  N668DN
4  2013     1     1      554        -4      740        12      UA  N39463
5  2013     1     1      555        -5      913        19      B6  N516JB
Variables not shown: flight (int), origin (chr), dest (chr), air_time (dbl),
  distance (dbl), hour (dbl), minute (dbl)

In [15]:
%%R
arrange(flights, year, month, day)

Source: local data frame [336,776 x 16]

    year month   day dep_time dep_delay arr_time arr_delay carrier tailnum
   (int) (int) (int)    (int)     (dbl)    (int)     (dbl)   (chr)   (chr)
1   2013     1     1      517         2      830        11      UA  N14228
2   2013     1     1      533         4      850        20      UA  N24211
3   2013     1     1      542         2      923        33      AA  N619AA
4   2013     1     1      544        -1     1004       -18      B6  N804JB
5   2013     1     1      554        -6      812       -25      DL  N668DN
6   2013     1     1      554        -4      740        12      UA  N39463
7   2013     1     1      555        -5      913        19      B6  N516JB
8   2013     1     1      557        -3      709       -14      EV  N829AS
9   2013     1     1      557        -3      838        -8      B6  N593JB
10  2013     1     1      558        -2      753         8      AA  N3ALAA
..   ...   ...   ...      ...       ...      ...       ...     ...     ...
Variables not shown: flight (int), origin (chr), dest (chr), air_time (dbl),
  distance (dbl), hour (dbl), minute (dbl)

In [16]:
%%R
arrange(flights, desc(arr_delay))

Source: local data frame [336,776 x 16]

    year month   day dep_time dep_delay arr_time arr_delay carrier tailnum
   (int) (int) (int)    (int)     (dbl)    (int)     (dbl)   (chr)   (chr)
1   2013     1     9      641      1301     1242      1272      HA  N384HA
2   2013     6    15     1432      1137     1607      1127      MQ  N504MQ
3   2013     1    10     1121      1126     1239      1109      MQ  N517MQ
4   2013     9    20     1139      1014     1457      1007      AA  N338AA
5   2013     7    22      845      1005     1044       989      MQ  N665MQ
6   2013     4    10     1100       960     1342       931      DL  N959DL
7   2013     3    17     2321       911      135       915      DL  N927DA
8   2013     7    22     2257       898      121       895      DL  N6716C
9   2013    12     5      756       896     1058       878      AA  N5DMAA
10  2013     5     3     1133       878     1250       875      MQ  N523MQ
..   ...   ...   ...      ...       ...      ...       ...     ...     ...
Variables not shown: flight (int), origin (chr), dest (chr), air_time (dbl),
  distance (dbl), hour (dbl), minute (dbl)

#### Add new columns with mutate()

In [20]:
%%R
mutate(flights, 
  gain = arr_delay - dep_delay, 
  speed = distance / air_time * 60)

Source: local data frame [336,776 x 18]

    year month   day dep_time dep_delay arr_time arr_delay carrier tailnum
   (int) (int) (int)    (int)     (dbl)    (int)     (dbl)   (chr)   (chr)
1   2013     1     1      517         2      830        11      UA  N14228
2   2013     1     1      533         4      850        20      UA  N24211
3   2013     1     1      542         2      923        33      AA  N619AA
4   2013     1     1      544        -1     1004       -18      B6  N804JB
5   2013     1     1      554        -6      812       -25      DL  N668DN
6   2013     1     1      554        -4      740        12      UA  N39463
7   2013     1     1      555        -5      913        19      B6  N516JB
8   2013     1     1      557        -3      709       -14      EV  N829AS
9   2013     1     1      557        -3      838        -8      B6  N593JB
10  2013     1     1      558        -2      753         8      AA  N3ALAA
..   ...   ...   ...      ...       ...      ...       ...     ...     ...
Variables not shown: flight (int), origin (chr), dest (chr), air_time (dbl),
  distance (dbl), hour (dbl), minute (dbl), gain (dbl), speed (dbl)

In [21]:
%%R
mutate(flights,
  gain = arr_delay - dep_delay,
  gain_per_hour = gain / (air_time / 60)
)

Source: local data frame [336,776 x 18]

    year month   day dep_time dep_delay arr_time arr_delay carrier tailnum
   (int) (int) (int)    (int)     (dbl)    (int)     (dbl)   (chr)   (chr)
1   2013     1     1      517         2      830        11      UA  N14228
2   2013     1     1      533         4      850        20      UA  N24211
3   2013     1     1      542         2      923        33      AA  N619AA
4   2013     1     1      544        -1     1004       -18      B6  N804JB
5   2013     1     1      554        -6      812       -25      DL  N668DN
6   2013     1     1      554        -4      740        12      UA  N39463
7   2013     1     1      555        -5      913        19      B6  N516JB
8   2013     1     1      557        -3      709       -14      EV  N829AS
9   2013     1     1      557        -3      838        -8      B6  N593JB
10  2013     1     1      558        -2      753         8      AA  N3ALAA
..   ...   ...   ...      ...       ...      ...       ...     ...     ...
Variables not shown: flight (int), origin (chr), dest (chr), air_time (dbl),
  distance (dbl), hour (dbl), minute (dbl), gain (dbl), gain_per_hour (dbl)

#### Summarise values with summarise()

In [24]:
%%R 
summarise(flights,
  delay = mean(dep_delay, na.rm = TRUE))

Source: local data frame [1 x 1]

     delay
     (dbl)
1 12.63907

####Â Randomly sample rows with sample_n() and sample_frac()

In [30]:
%%R
sample_n(flights, 10)

Source: local data frame [10 x 16]

    year month   day dep_time dep_delay arr_time arr_delay carrier tailnum
   (int) (int) (int)    (int)     (dbl)    (int)     (dbl)   (chr)   (chr)
1   2013     1     9      854        -1     1101        -3      9E  N906XJ
2   2013    12    14     1040        13     1226        30      EV  N16951
3   2013     6     5      753        -7      918         5      US  N751UW
4   2013     4    19     2020        85       NA        NA      MQ  N3AEMQ
5   2013    11    20      856        -4     1114       -16      DL  N989AT
6   2013     3     3     1029         0     1336        -8      UA  N39415
7   2013     7    24      628        -2      844        -1      DL  N308DE
8   2013    10     1     1143        -2     1409       -46      DL  N327NB
9   2013     1    27     1506         6     1742         0      DL  N541US
10  2013     8     1     2056        -4     2225       -10      AA  N4YNAA
Variables not shown: flight (int), origin (chr), dest (chr), air_time (dbl),
  distance (dbl), hour (dbl), minute (dbl)

#### Chaining

In [33]:
%%R

by_tailnum <- group_by(flights, tailnum)
delay <- summarise(by_tailnum,
  count = n(),
  dist = mean(distance, na.rm = TRUE),
  delay = mean(arr_delay, na.rm = TRUE))
delay <- filter(delay, count > 20, dist < 2000)

head(delay)

Source: local data frame [6 x 4]

  tailnum count     dist     delay
    (chr) (int)    (dbl)     (dbl)
1          2512 710.2576       NaN
2  N0EGMQ   371 676.1887  9.982955
3  N10156   153 757.9477 12.717241
4  N102UW    48 535.8750  2.937500
5  N103US    46 535.1957 -6.934783
6  N104UW    47 535.2553  1.804348

In [35]:
%%R

flights %>%
  group_by(tailnum) %>%
  summarise(
      count = n(),
      dist = mean(distance, na.rm = TRUE),
      delay = mean(arr_delay, na.rm = TRUE)
  ) %>%
  filter(delay, count > 20, dist < 2000)

Source: local data frame [2,959 x 4]

   tailnum count     dist      delay
     (chr) (int)    (dbl)      (dbl)
1   N0EGMQ   371 676.1887  9.9829545
2   N10156   153 757.9477 12.7172414
3   N102UW    48 535.8750  2.9375000
4   N103US    46 535.1957 -6.9347826
5   N104UW    47 535.2553  1.8043478
6   N10575   289 519.7024 20.6914498
7   N105UW    45 524.8444 -0.2666667
8   N107US    41 528.7073 -5.7317073
9   N108UW    60 534.5000 -1.2500000
10  N109UW    48 535.8750 -2.5208333
..     ...   ...      ...        ...

In [31]:
%%R
flights %>%
  group_by(year, month, day) %>%
  select(arr_delay, dep_delay) %>%
  summarise(
    arr = mean(arr_delay, na.rm = TRUE),
    dep = mean(dep_delay, na.rm = TRUE)
  ) %>%
  filter(arr > 30 | dep > 30)

Source: local data frame [49 x 5]
Groups: year, month [11]

    year month   day      arr      dep
   (int) (int) (int)    (dbl)    (dbl)
1   2013     1    16 34.24736 24.61287
2   2013     1    31 32.60285 28.65836
3   2013     2    11 36.29009 39.07360
4   2013     2    27 31.25249 37.76327
5   2013     3     8 85.86216 83.53692
6   2013     3    18 41.29189 30.11796
7   2013     4    10 38.41231 33.02368
8   2013     4    12 36.04814 34.83843
9   2013     4    18 36.02848 34.91536
10  2013     4    19 47.91170 46.12783
..   ...   ...   ...      ...      ...